@charset "UTF-8";
* {
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 16px;
  font-size: 1rem;
  font-family: "Shippori Mincho", serif;
  color: #0d1c29;
}

h1 {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 32px;
  font-size: 2rem;
  font-weight: bold;
}

h2,
h3 {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 32px;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 15px;
}

@media (max-width: 999px) {
  .l_subTitle {
    width: 50%;
    min-width: 300px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}

.c_section__text {
  line-height: 1.5rem;
}

.hidden-pc {
  display: block;
}
@media (min-width: 1000px) {
  .hidden-pc {
    display: none;
  }
}

.e_text__center {
  text-align: center;
}

.e_btn {
  display: block;
  text-align: center;
  width: 150px;
  height: 60px;
  background-color: #fff;
  border: 2px solid #D9D9D9;
  border-radius: 10px;
}
.e_btn:hover {
  background-color: #D9D9D9;
  color: #fff;
}

ol,
ul {
  list-style: none;
}

img,
video {
  max-width: 100%;
}

img {
  vertical-align: top;
  border-style: none;
}

a {
  outline: none;
  -webkit-touch-callout: none;
  transition: color 0.2s, -webkit-text-decoration 0.2s;
  transition: color 0.2s, text-decoration 0.2s;
  transition: color 0.2s, text-decoration 0.2s, -webkit-text-decoration 0.2s;
}

a:hover {
  text-decoration-color: transparent;
}

a:focus,
*:focus {
  outline: none;
}

a,
a:visited {
  color: inherit;
}

[hidden] {
  display: none !important;
}

[disabled] {
  cursor: not-allowed;
}

:focus:not(:focus-visible) {
  outline: none;
}

input[type=text],
input[type=tel],
input[type=number],
input[type=date],
input[type=time],
input[type=password],
input[type=email],
textarea {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

textarea {
  display: block;
}

fieldset {
  margin: 0;
  border: none;
}

legend {
  display: none;
}

.e_imgSize300 {
  width: 300px;
  height: auto;
}

.e_imgSize600 {
  width: 600px;
  height: auto;
}

@media (min-width: 1000px) {
  .c_flex {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    gap: 20px;
  }
}
.c_flex__second {
  display: flex;
  gap: 0px;
  justify-content: start;
  margin: 0;
}
@media (max-width: 999px) {
  .c_flex__sp {
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-content: start;
    align-items: center;
    gap: 10px;
  }
}

.l_header__mainTitle {
  margin: 30px 50px;
  font-size: 48px;
  font-size: 3rem;
  color: #0d1c29;
}

@media (max-width: 999px) {
  .c_nav {
    display: none;
  }
  body.is-openMenu .l_header__mainTitle {
    color: #fff;
    z-index: 3000;
    position: fixed;
    top: 0;
    left: 0;
  }
  body.is-openMenu .c_nav {
    position: fixed;
    background-color: #D9D9D9;
    height: 100vh;
    width: 100%;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 500;
  }
  body.is-openMenu .c_nav__itemLink {
    display: block;
    text-align: center;
    padding: 10px 15px;
    margin: 10px 0;
    font-size: 20px;
    font-size: 1.25rem;
    font-family: "Noto Sans JP", sans-serif;
    text-transform: uppercase;
  }
}
@media (min-width: 1000px) {
  .c_nav {
    position: fixed;
    top: 50px;
    right: 10px;
    z-index: 2000;
  }
  .c_nav__item {
    text-align: right;
    font-size: 16px;
    font-size: 1rem;
    font-family: "Noto Sans JP", sans-serif;
  }
  .c_nav__circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #0d1c29;
    margin: 10px;
    vertical-align: middle;
  }
  .c_nav__circle:hover {
    background-color: #0d1c29;
  }
}

.c_hamburger {
  position: fixed;
  top: 0px;
  right: 0px;
  border: none;
  width: 80px;
  height: 80px;
  z-index: 600;
  right: 0;
}
.c_hamburger__btn {
  position: relative;
  width: 40px;
  height: 3px;
  background-color: #D9D9D9;
  border-radius: 30px;
  display: block;
  margin: 0 auto;
  transition: all 0.3s;
}
.c_hamburger__btn::before, .c_hamburger__btn::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 3px;
  background-color: #D9D9D9;
  border-radius: 30px;
  display: block;
  margin: 0 auto;
  transition: all 0.3s;
}
.c_hamburger__btn::before {
  top: 10px;
}
.c_hamburger__btn::after {
  top: -10px;
}
body.is-openMenu .c_hamburger {
  z-index: 1000;
}
body.is-openMenu .c_hamburger__btn {
  background-color: transparent;
}
body.is-openMenu .c_hamburger__btn::before, body.is-openMenu .c_hamburger__btn::after {
  background-color: #fff;
  border-radius: 30px;
  top: 0;
}
body.is-openMenu .c_hamburger__btn::before {
  rotate: 45deg;
}
body.is-openMenu .c_hamburger__btn::after {
  rotate: -45deg;
}

@media (min-width: 1000px) {
  .c_hamburger {
    display: none;
  }
}

.swiper-wrapper {
  transition-timing-function: linear;
  margin-top: 100px;
}
@media (max-width: 999px) {
  .swiper-wrapper {
    margin-top: 30px;
  }
}
.swiper-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.horizon_tab {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto 50px;
  border-bottom: 1px dotted #ccc;
}

.horizon_space {
  width: 80%;
}

.horizon_tab--item {
  box-sizing: border-box;
  display: inline-flex;
  align-items: stretch;
  justify-content: center;
  position: relative;
  height: 60px;
  font-weight: bold;
  z-index: 200;
}
@media (min-width: 1000px) {
  .horizon_tab--item {
    min-width: 120px;
  }
}
.horizon_tab--item.is-current {
  border: none;
}
.horizon_tab--item.is-current::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  content: "";
  z-index: 2;
}

.horizon_tab--item--btn {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 4px 4px 0 0;
  border-bottom: none;
  color: #0d1c29;
  text-decoration: none;
}
.horizon_tab--item--btn:hover {
  text-decoration: underline;
}
.horizon_tab--item--btn:visited {
  color: #666;
}
.is-current .horizon_tab--item--btn {
  border: none;
  color: #0d1c29;
  background-color: #fff;
  overflow: hidden;
  pointer-events: none;
}
.is-current .horizon_tab--item--btn:visited {
  color: #666;
}
.is-current .horizon_tab--item--btn::before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #D9D9D9;
  content: "";
  z-index: 2;
}
.is-disabled .horizon_tab--item--btn {
  pointer-events: none;
}

.c_works__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  width: 90%;
  margin: 0 auto;
}

.c_illust__relative {
  position: relative;
  display: block;
}

.c_illust__maskText {
  font-size: 16px;
  color: #fff;
}

.c_illust__mask {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  /* 絶対位置指定 */
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  /* マスクを表示しない */
  background-color: rgba(0, 0, 0, 0.4);
  /* マスクは半透明 */
  transition: all 0.2s ease;
}

.c_illust__mask:hover {
  opacity: 1;
  /* マスクを表示する */
}

.c_copyright {
  display: block;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  text-align: center;
  margin: 20px 0 30px 0;
}
@media (max-width: 999px) {
  .c_copyright {
    position: static;
  }
}

.l_section {
  margin: 0 auto;
}
.l_section__text {
  padding-right: 20px;
}
@media (min-width: 1000px) {
  .l_section__text {
    height: 100vh;
  }
}
.l_section__textList {
  width: 50%;
  min-width: 300px;
  margin: 0 auto;
}
.l_section__textContainer {
  margin: 0 auto 10px;
  margin-bottom: 10px;
}
.l_section__textContainer dd {
  line-height: 1.5rem;
}
@media (min-width: 1000px) {
  .l_section__img {
    margin-top: 200px;
    margin-bottom: 60px;
  }
}
.l_section__img img {
  display: block;
  margin: 0 auto 10px;
  width: 50%;
  min-width: 300px;
}
@media (min-width: 1000px) {
  .l_section {
    width: 1200px;
    display: flex;
  }
}
@media screen and (min-width: 1000px) and (min-width: 1000px) and (max-width: 1200px) {
  .l_section {
    width: 800px;
  }
}
@media (min-width: 1000px) {
  .l_section__text {
    position: fixed;
    width: 25vw;
    height: 100vh;
  }
  .l_section__textList {
    margin: 30px 0 0 0;
  }
  .l_section__textContainer {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
    margin: 0 auto 15px;
    width: 30vw;
    min-width: none;
  }
  .l_section__img {
    width: 600px;
  }
  .l_section__img img {
    display: block;
    margin-left: 33vw;
    width: 60vw;
    max-width: 600px;
  }
}

.c_border {
  border: 2px solid #D9D9D9;
  border-radius: 5px;
}

.c_keioImg {
  display: block;
  margin: 0 auto;
}

.l_keioSection {
  margin: 0 auto;
}
.l_keioSection__text {
  padding-right: 20px;
}
.l_keioSection__textList {
  width: 50%;
  min-width: 300px;
  margin: 0 auto;
}
.l_keioSection__textContainer {
  margin: 0 auto 10px;
  margin-bottom: 10px;
}
.l_keioSection__textContainer dd {
  line-height: 1.5rem;
}

@media (min-width: 1000px) {
  .c_fixed {
    position: fixed;
    top: 0;
    left: 0;
  }
}
.c_fixed__topSpace {
  text-align: center;
}
@media (min-width: 1000px) {
  .c_fixed__topSpace {
    margin-top: 200px;
    text-align: left;
  }
  .c_fixed__topSpace-nappa {
    margin-top: 170px;
  }
  .c_fixed__topSpace-keio {
    margin-top: 200px;
  }
}

.c_hover:hover {
  opacity: 0.5;
}

.c_othersPageImg__item {
  display: block;
  border-radius: 10px;
  border: 2px solid #D9D9D9;
}

@media (min-width: 1000px) {
  .e_text__scroll {
    font-size: 16px;
    height: 350px;
    /* スクロール範囲の高さを指定 */
    overflow-y: scroll;
    /* 垂直方向のスクロールを有効にする */
  }
}

@media (max-width: 999px) {
  .c_section__aboutImg {
    display: block;
    margin: 0 auto;
  }
  .c_section__profileList {
    width: 80%;
    margin: 0 auto;
  }
}

.c_list {
  margin-top: 2pxx;
  margin-bottom: 2px;
}
.c_list__text {
  line-height: 1.5rem;
}

.fadeIn {
  transform: translate3d(0, -50px, 0);
  transition: 1s;
  opacity: 0;
}
.fadeIn.animated {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

html {
  scroll-behavior: smooth;
  /* スクロールの止め位置 */
  scroll-padding-top: 50px;
}/*# sourceMappingURL=style.css.map */