@use './variables' as *;
@use './mixin' as *;

//全体設定



.e_imgSize300 {
    width: 300px;
    height: auto;
}

.e_imgSize600 {
    width: 600px;
    height: auto;
}


.c_flex {
    @include desktop {
        display: flex;
        margin: 0 auto;
        justify-content: center;
        gap: 20px;
    }

    &__second {
        display: flex;
        gap: 0px;
        justify-content: start;
        margin: 0;
    }

    &__sp {
        @include touch {
            display: grid;
            grid-template-columns: 1fr 3fr;
            justify-content: start;
            align-items: center;
            gap: 10px;
        }
    }


}

.c_content__center li {
    @include touch {
        text-align: center;
    }

    text-align:left;
    margin-bottom: 10px;

    &:last-child {
        margin-bottom: 20px;
    }
}


//nav
.l_header {
    &__mainTitle {
        margin: 30px 50px;
        @include fz(48);
        color: $black;

    }
}

.c_nav {
    @include touch {
        display: none;

        @at-root body.is-openMenu {

            .l_header__mainTitle {
                color: $white;
                z-index: 3000;
                position: fixed;
                top: 0;
                left: 0;
            }

            .c_nav {


                position: fixed;
                background-color: $gray;
                height: 100vh;
                width: 100%;
                top: 0;
                right: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                z-index: 500;

                &__itemLink {
                    display: block;
                    text-align: center;
                    padding: 10px 15px;
                    margin: 10px 0;
                    @include fz(20);
                    @include font-webfont_noto;
                    text-transform: uppercase;
                }
            }
        }
    }

    @include desktop {
        position: fixed;
        top: 50px;
        right: 10px;
        z-index: 2000;

        &__item {
            text-align: right;
            @include fz(16);
            @include font-webfont_noto;
        }



        &__circle {
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            border: 2px solid $black;
            margin: 10px;
            vertical-align: middle;

            &:hover {
                background-color: $black;
            }

        }
    }
}

//ハンバーガーメニュー
.c_hamburger {
    position: fixed;
    top: 0px;
    right: 0px;
    border: none;

    width: 80px;
    height: 80px;
    z-index: 600;
    right: 0;

    &__btn {
        position: relative;
        width: 40px;
        height: 3px;
        background-color: $gray;
        border-radius: 30px;

        display: block;
        margin: 0 auto;
        transition: all .3s;

        &::before,
        &::after {
            content: '';
            position: absolute;
            width: 40px;
            height: 3px;
            background-color: $gray;
            border-radius: 30px;
            display: block;
            margin: 0 auto;
            transition: all .3s;
        }

        &::before {
            top: 10px;
        }

        &::after {
            top: -10px;
        }

    }

    @at-root body.is-openMenu {

        .c_hamburger {
            z-index: 1000;

            &__btn {
                background-color: transparent;

                &::before,
                &::after {
                    background-color: $white;
                    border-radius: 30px;

                    top: 0;
                }

                &::before {
                    // transform: rotate(45deg);
                    rotate: 45deg;
                }

                &::after {
                    // transform: rotate(-45deg);
                    rotate: -45deg;
                }
            }
        }
    }

    @include desktop {
        display: none;
    }
}



//swiper

.swiper-wrapper {
    @include touch {
        margin-top: 30px;
    }

    transition-timing-function: linear;
    margin-top: 100px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

// タブデザイン
.horizon_tab {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto 50px;
    border-bottom: 1px dotted #ccc;

}

.horizon_space {
    width: 80%;
}

.horizon_tab--item {
    box-sizing: border-box;
    display: inline-flex;
    align-items: stretch;
    justify-content: center;
    position: relative;
    height: 60px;
    font-weight: bold;
    z-index: 200;

    @include desktop {
        min-width: 120px;
    }

    &.is-current {
        border: none;

        &::after {
            position: absolute;
            bottom: -1px;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: #fff;
            content: "";
            z-index: 2;
        }
    }
}

.horizon_tab--item--btn {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 4px 4px 0 0;
    border-bottom: none;

    color: $black;
    text-decoration: none;

    &:hover {
        opacity: 0.5;
    }

    &:visited {
        color: #666;
    }

    .is-current & {
        border: none;
        color: $black;
        background-color: #fff;
        overflow: hidden;
        pointer-events: none;

        &:visited {
            color: #666;
        }

        &::before {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 4px;
            background-color: $gray;
            content: "";
            z-index: 2;
        }
    }

    .is-disabled & {
        pointer-events: none;
    }
}

.c_works__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    width: 90%;
    margin: 0 auto;
}

.content_container {
    margin-bottom: 50px;
}

//illust 説明マスク
.c_illust__relative {
    position: relative;
    display: block;
}

.c_illust__maskText {
    font-size: 16px;
    color: #fff;
}

.c_illust__mask {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    /* 絶対位置指定 */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    /* マスクを表示しない */
    background-color: rgba(0, 0, 0, 0.4);
    /* マスクは半透明 */
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.c_illust__mask:hover {
    opacity: 1;
    /* マスクを表示する */
}

.c_illust__text {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    /* 絶対位置指定 */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

//コピーライト
.c_copyright {
    display: block;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
    margin: 20px 0 30px 0;

    @include touch {
        position: static;
    }
}

//works詳細ページ　レイアウト
.l_section {
    margin: 0 auto;


    &__text {
        padding-right: 20px;

        @include desktop {
            height: 100vh;
        }

        &List {
            width: 50%;
            min-width: 300px;
            margin: 0 auto;
        }

        &Container {
            margin: 0 auto 10px;
            margin-bottom: 10px;

            dd {
                line-height: 1.5rem;
            }
        }
    }

    &__img {

        @include desktop {
            margin-top: 200px;
            margin-bottom: 60px;
        }


        img {
            display: block;
            margin: 0 auto 10px;

            width: 50%;
            min-width: 300px;
        }
    }

    @include desktop {
        width: 1200px;
        display: flex;

        @media screen and (min-width: 1000px) and (max-width: 1200px) {
            width: 800px;
        }


        &__text {
            position: fixed;
            width: 25vw;
            height: 100vh;

            &List {
                margin: 30px 0 0 0;
            }

            &Container {
                display: grid;
                grid-template-columns: 1fr 3fr;
                gap: 20px;
                margin: 0 auto 15px;
                width: 30vw;
                min-width: none;
            }

        }

        &__img {
            width: 600px;

            img {
                display: block;
                margin-left: 33vw;
                width: 60vw;
                max-width: 600px;
            }
        }
    }
}

.c_border {
    border: 2px solid $gray;
    border-radius: 5px;
}


//keio stationのみのレイアウト
.c_keioImg {
    display: block;
    margin: 0 auto;
}

.l_keioSection {
    margin: 0 auto;


    &__text {
        padding-right: 20px;

        &List {
            width: 50%;
            min-width: 300px;
            margin: 0 auto;
        }

        &Container {
            margin: 0 auto 10px;
            margin-bottom: 10px;

            dd {
                line-height: 1.5rem;
            }
        }
    }
}

//上部固定
//ロゴ
.c_fixed {
    @include desktop {

        position: fixed;
        top: 0;
        left: 0;
    }

    &__topSpace {

        text-align: center;

        //subタイトルの固定
        @include desktop {
            margin-top: 200px;
            text-align: left;

            &-nappa {
                margin-top: 170px;
            }

            &-keio {
                margin-top: 200px;
            }
        }
    }
}

//hover設定
.c_hover {
    &:hover {
        opacity: 0.5;
    }
}

//個別ページの画像
.c_othersPageImg__item {
    display: block;
    border-radius: 10px;
    border: 2px solid $gray;
}

//nappaのテキストスクロール
.e_text__scroll {
    @include desktop {
        font-size: 16px;
        height: 350px;
        /* スクロール範囲の高さを指定 */
        overflow-y: scroll;
        /* 垂直方向のスクロールを有効にする */
    }
}

//aboutページ

.c_section {
    &__profileList {
        margin-top: 20px;
    }

    @include touch {
        &__aboutImg {
            display: block;
            margin: 0 auto;
        }

        &__profileList {
            width: 80%;
            margin: 20px auto;
        }
    }
}

.c_list {
    margin-top: 2pxx;
    margin-bottom: 2px;

    &__text {
        line-height: 1.5rem;
    }
}


// アコーディオン
.accordion {

    width: 70%;
    margin: 20px auto;
}

.accordion-header {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
    position: relative;
}

.accordion-header::before,
.accordion-header::after {
    content: '';
    position: absolute;
    background-color: #333;
    transition: all 0.3s;
}

.accordion-header::before,
.accordion-header::after {
    width: 2px;
    height: 10px;
    right: 15px;
    top: 15px;
}

.accordion-header::after {
    rotate: 90deg;
}

.accordion-content {
    display: none;
    padding: 10px;
    background-color: #fff;
    @include font-webfont_noto;
}

.accordion-content li {
    margin-bottom: 10px;
}

.accordion-content:last-child {
    border-bottom: none;
}

.accordion-header.active::before,
.accordion-header.active::after {
    transform: rotate(-45deg);
}