$sp320: 320px;
$mobile: 720px;
$desktop: 1000px;
$wide: 1280px;
$full: 1440px;

$black:#0d1c29;
$gray:#D9D9D9;
$white:#fff;

$fz-16: 16px;
$fz-24: 24px;
$fz-32: 32px;
$fz-48: 48px;
$fz-64: 64px;
$fz-96: 96px;

